* { 
  outline: 1px solid red;
} debug css

.article {
  margin-top: rem;
}

a:link, a:visited {
  color: darkred;
  text-decoration: none;
}

.nav-item {
  padding: 2vh;
}

.navbar {
  background-color: black;
}

#body{
  margin-top: 70px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.input-form {
  margin-left: 2rem;
}

footer{
  display: flex;
  justify-content: center;
  padding: 2rem;
}

section {
  display: grid;
  place-items: center;
  height: auto;
  font-size: 32px;
  font-weight: bold;
  padding: 1rem 4rem;
}